/*LOGOUT-POPUP*/
.clearfix::after {
  content: '';
}

.logout-in {
  width: 100%;
  height: 100%;
  text-align: center;
}

.logout-in i {
  font-size: 70px;
  color: #171748;
}

/*LOGOUT-POPUP*/

/* SIDEBAR */
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  z-index: 999;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
  overflow-x: hidden;
  background-color: var(--primary-color);
  scrollbar-width: none;
  padding-top: 1.5rem;
}

#sidebar::-webkit-scrollbar {
  display: none;
}

#sidebar.hide {
  width: 0px;
}

#sidebar .brand {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  padding: 0 8px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#sidebar .brand img {
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#sidebar .brand .bx {
  min-width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#sidebar .side-menu {
  width: 100%;
  padding: 8px;
  margin: 0;
  margin-top: 20px;
}

#sidebar .side-menu li {
  height: auto;
  background: transparent;
  margin-bottom: 5px;
  list-style: none;
  position: relative;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.sidebar-dropdown-list {
  padding: 0px 10px 8px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 8px;

  a {
    font-size: 14px;
    font-weight: 400;
    color: #fff;

    &:hover,
    &.active {
      color: #C0C0C0;
    }
  }
}

#sidebar .side-menu li a img.sidebar-dropdown-icon {
  width: 12px;
  height: 12px;
  margin-right: 0;
  margin-left: auto;
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

#sidebar .side-menu li a img.sidebar-dropdown-icon.active {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

#sidebar .side-menu li p {
  position: fixed;
  margin: 0;
  background: #000;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 12px;
  color: #fff;
  font-weight: 400;
  display: none;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  left: 80px;
}

#sidebar .side-menu li p:before {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  background: #000;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  left: -5px;
  top: 15px;
  border-radius: 0px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#sidebar.hide .side-menu li:hover p {
  display: block;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

#sidebar .side-menu li a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  font-size: 14px;
  padding: 8px 10px;
  font-weight: 400;
  color: #fff;
  position: relative;
  z-index: 9999;
  white-space: nowrap;
  overflow-x: hidden;
}

#sidebar .side-menu li a img {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  -o-object-fit: contain;
  object-fit: contain;
}

#sidebar .side-menu li.active a {
  background: #463FDF33;
}

#sidebar .side-menu li:hover a {
  background: #463FDF33;
}

/* CONTENT */
#content {
  position: relative;
  width: calc(100% - 300px);
  left: 300px;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

#sidebar.hide~#content {
  width: calc(100% - 0px);
  left: 0px;
}

/* NAVBAR */
#content nav {
  height: 60px;
  padding: 0 24px;
  background-color: var(--primary-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-gap: 24px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9;
}

#content nav .bx.bx-menu {
  cursor: pointer;
  color: #fff;
  font-size: 25px;
}

#content nav .bx.bx-menu i {
  font-weight: 500;
}

/* NAVBAR */

/* MAIN */
#content main {
  width: 100%;
  height: 100%;
  padding: 15px;
  background: #fff;
  max-height: 100%;
}

/* MAIN */

/* SIDEBAR */

/* DATEPICKER */

.daterangepicker {
  font-family: "Poppins", sans-serif !important;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: var(--primary-color) !important;
}

.daterangepicker .drp-buttons .btn-primary {
  background-color: var(--primary-color) !important;
  font-weight: 600 !important;
}

/* DATEPICKER */

/* DROPDOWN */

.influ-dropdown {
  position: relative;
}

.influ-drop-list {
  position: absolute;
  right: 0;
  padding: 10px;
  border-radius: 5px;
  background: #FFF;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-top: 5px;
  display: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.influ-drop-list-search {
  width: 100%;
  border-radius: 5px;
  background: rgba(3, 45, 98, 0.12);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.influ-drop-list-search input[type="text"] {
  width: 100%;
  background: none;
  border: none;
  outline: none;
  padding: 6px 10px;
  color: #333;
  font-size: 13px;
  font-weight: 400;
}

.influ-drop-list-search input[type="text"]::-webkit-input-placeholder {
  color: #333;
}

.influ-drop-list-search input[type="text"]::-moz-placeholder {
  color: #333;
}

.influ-drop-list-search input[type="text"]:-ms-input-placeholder {
  color: #333;
}

.influ-drop-list-search input[type="text"]::-ms-input-placeholder {
  color: #333;
}

.influ-drop-list-search input[type="text"]::placeholder {
  color: #333;
}

.influ-drop-list-search button {
  background: none;
  border: none;
  outline: none;
  margin-right: 5px;
}

.influ-drop-list-search button img {
  width: 20px;
  height: auto;
}

.influ-drop-list-inner {
  width: 100%;
  height: 200px;
  overflow-y: scroll;
  margin: 10px 0 15px 0;
  padding-right: 8px;
}

.influ-drop-list-inner::-webkit-scrollbar {
  width: 8px;
}

.influ-drop-list-inner::-webkit-scrollbar-track {
  background: #D2E4FD;
  border-radius: 20px;
}

.influ-drop-list-inner::-webkit-scrollbar-thumb {
  background-color: #032D62;
  border-radius: 20px;
}

.influ-drop-list-item {
  width: 100%;
  color: #333;
  font-size: 14px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  gap: 8px;
  padding: 5px 0;
}

.influ-drop-list-item input[type="checkbox"] {
  width: 14px;
  height: 14px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 2px solid #032D62;
  border-radius: 2px;
  outline-offset: -2px;
}

.influ-drop-list-item input[type="checkbox"]:checked {
  accent-color: #032D62;
  -webkit-appearance: auto;
  -moz-appearance: auto;
  appearance: auto;
  border-radius: 2px;
  outline: 2px solid #032D62;
}

.influ-drop-list-btn {
  width: 100%;
  height: auto;
}

.influ-drop-list-btn input[type="submit"] {
  padding: 5px 25px;
  border-radius: 5px;
  background: #FDBA31;
  color: #032D62;
  font-size: 14px;
  font-weight: 500;
  border: none;
  outline: none;
}

.influ-drop-list-inner.exrta {
  height: auto;
  overflow-y: auto;
  margin: 0;
  padding: 0;
}

/* DROPDOWN */

/* MORE-DROPDOWN */

.influ-more-drop-list {
  position: absolute;
  left: 0;
  padding: 10px;
  border-radius: 5px;
  background: #FFF;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-top: 5px;
  display: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.influ-more-drop-list-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* MORE-DROPDOWN */

/* ALL-POPUP */

.my-popup .modal-dialog .modal-content {
  border-radius: 10px;
}

.my-popup .modal-heading {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.my-popup .modal-body {
  padding: 2rem 0;
}

.my-popup .modal-heading button {
  background: none;
  border: none;
  outline: none;
  width: auto;
  height: auto;
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 9999;
}

.my-popup .modal-heading button img {
  width: 22px;
  height: 22px;
}

.delete-pop-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  gap: 15px;
  margin: 20px 0px 20px 0px;
}

.my-popup .modal-dialog {
  max-width: 400px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
}

.delete-pop-inner img {
  width: 70px;
  height: auto;
}

.delete-pop-inner h3 {
  color: #000;
  font-size: 26px;
  font-weight: 600;
  margin: 0;
}

.delete-pop-inner p {
  color: #333333;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.delete-pop-btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 0px;
}

.delete-pop-btn a {
  border-radius: 30px;
  background: var(--primary-color);
  color: #fff;
  padding: 8px 0px;
  font-size: 15px;
  font-weight: 500;
  width: 35%;
  text-align: center;
}

.delete-pop-btn a.active {
  background: #000;
  color: #fff;
}

#logout .delete-pop-btn a {
  padding: 10px 50px;
}

#edit-pop.my-popup .modal-dialog,
#add-pop.my-popup .modal-dialog {
  max-width: 650px;
}

.modal-backdrop.show {
  -webkit-backdrop-filter: blur(1.5px);
  backdrop-filter: blur(1.5px);
  opacity: 1;
  background: #00000066;
}

/* PRIVACY-POLICY-POPUP */

.prep-popup .modal-heading {
  width: 100%;
  height: auto;
  padding: 15px 20px;
  background: #032D62;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.prep-popup .modal-heading h1 {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.prep-popup .modal-heading button.close {
  background: none;
  border: none;
  outline: none;
  color: #fff;
}

.prep-popup .modal-dialog {
  max-width: 650px;
}

.info-body {
  width: 100%;
  height: auto;
}

.info-body h2 {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
}

.info-body form {
  width: 100%;
  height: auto;
}

.info-body form textarea {
  width: 100%;
  height: 200px;
  border-radius: 4px;
  border: 1px solid #CBD8FF;
  background: rgba(203, 216, 255, 0.30);
  padding: 15px;
  color: #333;
  font-size: 14px;
  font-weight: 400;
}

.info-body form button {
  border-radius: 5px;
  background: #032D62;
  padding: 8px 60px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  display: block;
  margin: auto;
  margin-top: 10px;
}

/* PRIVACY-POLICY-POPUP */

/* FAQ-POPUP */

.faq-popup .modal-content {
  border-radius: 20px;
  overflow: hidden;
}

.faq-popup .modal-heading {
  width: 100%;
  height: auto;
  padding: 15px 20px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(22.47%, #1A69B4), color-stop(105.56%, #264B9B));
  background: -o-linear-gradient(top, #1A69B4 22.47%, #264B9B 105.56%);
  background: linear-gradient(180deg, #1A69B4 22.47%, #264B9B 105.56%);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.faq-popup .modal-heading h1 {
  color: #fff;
  font-size: 26px;
  font-weight: 700;
  margin: auto;
}

.faq-popup .modal-heading button.close {
  background: none;
  border: none;
  outline: none;
  color: #fff;
  position: absolute;
  top: auto;
  right: 20px;
}

.faq-popup .modal-heading button.close img {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
  width: 20px;
  height: 20px;
}

.faq-popup .modal-dialog {
  max-width: 650px;
}

.faq-body {
  width: 100%;
  height: auto;
  padding: 10px;
}

.faq-body form {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 15px;
}

.faq-body form label {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 5px;
}

.faq-body form label span {
  color: #000;
  font-size: 15px;
  font-weight: 600;
}

.faq-body form label select {
  width: 100%;
  height: auto;
  padding: 8px 10px;
  border: 1px solid #C0C0C0;
  color: #444;
  font-size: 14px;
  font-weight: 400;
  border-radius: 5px;
  padding-right: 35px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  cursor: pointer;
}

.faq-body form label input[type="text"] {
  border-radius: 5px;
  border: 1px solid #C0C0C0;
  background: #fff;
  width: 100%;
  height: auto;
  padding: 8px 10px;
  color: #444;
  font-size: 14px;
  font-weight: 400;
  outline: none;
}

.faq-body form label textarea {
  border-radius: 5px;
  border: 1px solid #C0C0C0;
  background: #fff;
  width: 100%;
  height: 150px;
  padding: 8px 10px;
  color: #444;
  font-size: 14px;
  font-weight: 400;
  outline: none;
}

.faq-body form input[type="button"] {
  border-radius: 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(#0F87CD), color-stop(55%, #1A69B4), to(#264B9B));
  background: -o-linear-gradient(top, #0F87CD 0%, #1A69B4 55%, #264B9B 100%);
  background: linear-gradient(180deg, #0F87CD 0%, #1A69B4 55%, #264B9B 100%);
  padding: 8px 60px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  display: block;
  margin: auto;
  margin-top: 10px;
}

.faq-services-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 5px;
}

.faq-services-box span {
  color: #444;
  font-size: 15px;
  font-weight: 500;
}

.faq-dropdown {
  width: 100%;
  height: auto;
  position: relative;
}

.faq-dropdown-btn {
  width: 100%;
  height: auto;
  padding: 8px 10px;
  border: 1px solid #C0C0C0;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.faq-dropdown-btn i {
  color: #032D62;
}

.faq-dropdown-btn.active i {
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.faq-dropdown-list {
  width: 100%;
  height: auto;
  padding: 10px;
  background: #fff;
  position: absolute;
  top: 100%;
  left: 0;
  border: 1px solid #C0C0C0;
  border-radius: 5px;
  margin-top: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 5px;
}

.faq-body form .faq-services-box .faq-dropdown .faq-dropdown-list label {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  color: #333;
  font-size: 15px;
  font-weight: 500;
  gap: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  cursor: pointer;
}

.faq-dropdown-list label input[type="radio"] {
  width: 8px;
  height: 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 1px solid #032D62;
  border-radius: 50%;
  background: #fff;
  outline-offset: 2px;
  cursor: pointer;
}

.faq-dropdown-list label input[type="radio"]:checked {
  background: #032D62;
}

/* FAQ-POPUP */

/* ALL-POPUP */

/* TOGGLE */

.table-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 15px;
}

.table-toggle h4 {
  color: #454545;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 23px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #57C150;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  border: 1px solid #DBDBDB;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #E21919;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 50%;
}

/* TOGGLE */

/* EDIT-POPUP */

.edit-pop-form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.edit-pop-form label {
  font-size: 14px;
  font-weight: 500;
  color: #000;
  margin-bottom: 8px;
  padding-left: 5px;
}

.edit-pop-form .edit-field {
  width: 100%;
  height: auto;
  padding: 8px 10px;
  border: 1px solid #D4D4D4;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  outline: none;
}

.edit-pop-form .edit-select {
  color: #949494;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(../images/dropdown.svg);
  background-size: 14px;
  background-position: calc(100% - 10px);
  background-repeat: no-repeat;
}

.edit-pop-form .edit-field::-webkit-input-placeholder {
  color: #949494;
}

.edit-pop-form .edit-field::-moz-placeholder {
  color: #949494;
}

.edit-pop-form .edit-field:-ms-input-placeholder {
  color: #949494;
}

.edit-pop-form .edit-field::-ms-input-placeholder {
  color: #949494;
}

.edit-pop-form .edit-field::placeholder {
  color: #949494;
}

.edit-pop-form .delete-pop-btn a {
  border: none;
  padding: 10px 50px;
  width: auto;
}

.edit-pop-in {
  width: 49%;
}

/* EDIT-POPUP */
#view-profile-pop .modal-dialog .modal-content .modal-body,
#edit-pop .modal-dialog .modal-content .modal-body,
#add-pop .modal-dialog .modal-content .modal-body {
  padding: 1rem 2rem 2rem 2rem;
}

/* VIEW-PROFILE-POPUP */
.profile-pop {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 3px solid #264b9b;
}

.profile-pop img {
  width: 100%;
  height: 100%;
  padding: 5px;
  border-radius: 50%;
}

/* VIEW-PROFILE-POPUP */

/* USER-PROFILE-PAGE */

.user-profile-in ul#pills-tab {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 10px;
  border: 1px solid #264B9B;
  border-radius: 30px;
  padding: 5px;
}

.user-profile-in ul#pills-tab li.nav-item {
  width: auto;
}

.user-profile-in ul#pills-tab li.nav-item button {
  width: 100%;
  border-radius: 30px;
  outline: none;
  font-size: 15px;
  font-weight: 600;
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#0F87CD), color-stop(58.06%, #1A69B4), color-stop(105.56%, #264B9B));
  background: -o-linear-gradient(top, #0F87CD 0%, #1A69B4 58.06%, #264B9B 105.56%);
  background: linear-gradient(180deg, #0F87CD 0%, #1A69B4 58.06%, #264B9B 105.56%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  padding: 0.5rem 2rem;
}

.user-profile-in ul#pills-tab li.nav-item button.active {
  background: -webkit-gradient(linear, left top, left bottom, from(#0F87CD), color-stop(58.06%, #1A69B4), color-stop(105.56%, #264B9B));
  background: -o-linear-gradient(top, #0F87CD 0%, #1A69B4 58.06%, #264B9B 105.56%);
  background: linear-gradient(180deg, #0F87CD 0%, #1A69B4 58.06%, #264B9B 105.56%);
  color: #fff;
}

/* USER-PROFILE-PAGE */


.bidder-field-in-item {
  width: 100%;
  height: 45px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;


  input[type="text"] {
    width: 100%;
    height: 39px;
    border: 1px solid #D4D4D4;
    outline: none;
    background: var(--white);
    border-radius: 10px;
    font-size: 14px;
    font-weight: 400;
    color: var(--primary-color);
    padding: 0px 15px;
    line-height: 30px;
    background-image: url(../images/filter-icons/input-date.svg);
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center right 15px;

    &::-webkit-input-placeholder {
      color: #949494;
    }

    &::-moz-placeholder {
      color: #949494;
    }

    &:-ms-input-placeholder {
      color: #949494;
    }

    &::-ms-input-placeholder {
      color: #949494;
    }

    &::placeholder {
      color: #949494;
    }
  }
}

.ui-datepicker {
  font-family: "Poppins", sans-serif !important;
}

a.ui-state-default {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}